body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
main {
    background-color: white;
    border: 0.5px solid rgb(133, 131, 131);
    border-radius: 10px;
    max-width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header{
    width: 100%;
    background-color: rgb(200, 192, 192);
    color: rgb(104, 97, 97);
    border: 0.5px solid rgb(133, 131, 131);
    text-align: center;
    border-radius: 10px;
}

footer{
    width: 100%;
    background-color: #ddd;
    color: rgb(0, 0, 0);
    text-align: center;
}

nav {
    width: 100%;
    background-color: #555;
    color: #eee;
    border: 0.5px solid rgb(133, 131, 131);
    text-align: center;
    margin: 5px 0px 0px 0px;
    border-radius: 10px;
    padding: 5px;
}
nav ul {
    padding: 0px 10px 0px 10px;
}
nav ul li {
    display: inline;
}
nav a {
    text-decoration: none;
}

nav a:link, nav a:visited {
    color: gray;
}
nav a:hover {
    color: #fff;
}
h2 {
    color: #555;
}
.galery img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 10px;
    margin: auto;
}