body{
    background-color: #ddd;
}

main{
    background-color: white;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(48, 48, 48);
}

div{
    width: 100%;
    margin: 10px 10px;
    padding: 5px;
}

button{
    width: 90%;
}